.rangeslider{
    width: 1000px;
}
.slider{
    -webkit-appearance: none;
    background: #363636;
    width: 30%;
    height: 15px;
    border-radius: 5px;
    opacity: 3;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    cursor: pointer;
    background: #BABABA;
    width: 25px;
    height: 25px;
    border-radius: 40%;
}
