extends ../layout/base_delete.pug

block content
  .container
    .row.justify-content-center
      .col-md-9.col-lg-12.col-xl-10
        .card.shadow-lg.o-hidden.border-0.my-5
          .card-body.p-0
            .text-center
              h1.text-dark.mb-0 Delete Account
              br
              br
              h2.text-dark.mb-0 The account has been deleted.
              br
              br
              h3.text-dark.mb-0 We're sorry to see you go!
              br
              a.card-link.btn.btn-primary(href='/') Back to Home
              br
              br
