doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    title Register | TabCore
    link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Adamina')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css')
    link(rel='stylesheet' href='assets/fonts/fontawesome5-overrides.min.css')
  body.bg-gradient-primary(style='font-family: Oswald, sans-serif;')
    nav.navbar.navbar-light.navbar-expand-md(style='font-family: Oswald, sans-serif;color: #4e73df;background-color: #4e73df;')
      .container-fluid
        a.navbar-brand.d-flex.justify-content-center.align-items-center.sidebar-brand.m-0(href='/')
          .sidebar-brand-icon.rotate-n-15
            i.fas.fa-balance-scale(style='font-size: 46px;color: rgba(255,255,255,0.9);')
          .sidebar-brand-text.mx-3
            span(style='font-size: 44px;color: rgba(255,255,255,0.9);') TABCORE
        button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        .collapse.navbar-collapse.text-right.d-xl-flex.justify-content-xl-end#navcol-1(style='font-size: 25px;')
          ul.nav.navbar-nav
            li.nav-item(role='presentation')
              a.nav-link.border-white(href='/login' style='color: rgba(255,255,255,0.5);') Login
            li.nav-item(role='presentation')
              a.nav-link(href='/register' style='color: #ffffff;') Register
            li.nav-item(role='presentation')
    .container
      .card.shadow-lg.o-hidden.border-0.my-5
        .card-body.p-0
          .row
            .col-lg-5.d-none.d-lg-flex
              .flex-grow-1.bg-register-image(style='background-image: url("assets/img/dogs/image2.jpeg");')
            .col-lg-7
              .p-5
                .text-center
                  h4.text-dark.mb-4 Create an Account!
                  h5.text-danger.mb-4#errormessage
                form.user#daForm
                  .form-group.row
                    .col-sm-6.mb-3.mb-sm-0
                      input.form-control.form-control-user#firstname(type='text' placeholder='First Name' name='first_name')
                    .col-sm-6
                      input.form-control.form-control-user#lastname(type='text' placeholder='Last Name' name='last_name')
                  .form-group
                    input.form-control.form-control-user#email(type='email' aria-describedby='emailHelp' placeholder='Email Address' name='email')
                  .form-group.row
                    .col-sm-6.mb-3.mb-sm-0
                      input.form-control.form-control-user#password(type='password' placeholder='Password' name='password')
                    .col-sm-6
                      input.form-control.form-control-user#confirm(type='password' placeholder='Repeat Password' name='password_repeat')
                  button.btn.btn-primary.btn-block.text-white.btn-user(type='submit') Register Account
                  hr
                  a.btn.btn-primary.btn-block.text-white.btn-google.btn-user(role='button')
                    i.fab.fa-google
                    |   Register with Google
                  a.btn.btn-primary.btn-block.text-white.btn-facebook.btn-user(role='button')
                    i.fab.fa-facebook-f
                    |   Register with Facebook
                  hr
                .text-center
                  a.small(href='/forgot-password') Forgot Password?
                .text-center
                  a.small(href='/login') Already have an account? Login!
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js')
    script(src='/assets/js/login.js')
