doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    title Register | TabCore
    link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Adamina')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css')
    link(rel='stylesheet' href='assets/fonts/fontawesome5-overrides.min.css')
    script(type='text/javascript' src='/assets/js/validator.min.js')
  body.bg-gradient-danger(style='font-family: Oswald, sans-serif;')
    nav.navbar.navbar-light.navbar-expand-md.bg-danger(style='font-family: Oswald, sans-serif;color: #4e73df;')
      .container-fluid
        a.navbar-brand.d-flex.justify-content-center.align-items-center.sidebar-brand.m-0(href='/')
          .sidebar-brand-icon.rotate-n-15
            i.fas.fa-balance-scale(style='font-size: 46px;color: rgba(255,255,255,0.9);')
          .sidebar-brand-text.mx-3
            span(style='font-size: 44px;color: rgba(255,255,255,0.9);') TABCORE
        button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        .collapse.navbar-collapse.text-right.d-xl-flex.justify-content-xl-end#navcol-1(style='font-size: 25px;')
          ul.nav.navbar-nav
            li.nav-item(role='presentation')
              a.nav-link.border-white(href='/login' style='color: rgba(255,255,255,0.5);') Login
            li.nav-item(role='presentation')
              a.nav-link.border-white(href='/guestLogin' style='color: rgba(255,255,255,0.5);') Guest
            li.nav-item(role='presentation')
              a.nav-link(href='/register' style='color: #ffffff;') Register
            li.nav-item(role='presentation')
    .container
      .card.shadow-lg.o-hidden.border-0.my-5
        .card-body.p-0
          .row
            .col-lg-5.d-none.d-lg-flex
              .flex-grow-1.bg-register-image(style='background-image: url("assets/img/logo/TABCORE_REGISTER.gif");')
            .col-lg-7
              .p-5
                .text-center
                  h4.text-dark.mb-4 Create an Account!
                  h5.text-danger.mb-4#errormessage
                form.user#daForm(role="form", action="/register", method="POST")
                  if(all == 1)
                    .form-group.row
                      .col-sm-6.mb-3.mb-sm-0
                        input.form-control.form-control-user#first_name(style='border: 1px solid #d66' type='text' placeholder='First Name' name='first_name')
                      .col-sm-6
                        input.form-control.form-control-user#last_name(style='border: 1px solid #d66' type='text' placeholder='Last Name' name='last_name')
                    .form-group
                      input.form-control.form-control-user#username(style='border: 1px solid #d66' type='text' placeholder='Username' name='username')
                      .text-center.small Can only contain letters, numbers, - , _ , or .
                      br
                    .form-group
                      input.form-control.form-control-user#institution(style='border: 1px solid #d66' type='text' placeholder='Debate Institution' name='institution')
                      .text-center.small Can only contain letters and spaces
                    .form-group
                      input.form-control.form-control-user#email(style='border: 1px solid #d66' type='email' aria-describedby='emailHelp' placeholder='Email Address' name='email')
                    .form-group.row
                      .col-sm-6.mb-3.mb-sm-0
                        input.form-control.form-control-user#password(style='border: 1px solid #d66' type='password' placeholder='Password' name='password')
                      .col-sm-6
                        input.form-control.form-control-user#confirm_pass(style='border: 1px solid #d66' type='password' placeholder='Repeat Password' name='confirm_pass')
                    .text-center.small#invalid_all(style="color: #d66") All fields need to be filled up
                  else
                    .form-group.row
                      .col-sm-6.mb-3.mb-sm-0
                        if (first == 1)
                          input.form-control.form-control-user#first_name(style='border: 1px solid #d66' type='text' placeholder='First Name' name='first_name')
                          .text-center.small#invalid_first(style="color: #d66") Invalid First Name
                        else
                          input.form-control.form-control-user#first_name(type='text' placeholder='First Name' name='first_name')
                          .text-center.small#invalid_first(style="color: #d66")
                      .col-sm-6
                        if (last == 1)
                          input.form-control.form-control-user#last_name(style='border: 1px solid #d66' type='text' placeholder='Last Name' name='last_name')
                          .text-center.small#invalid_last(style="color: #d66") Invalid Last Name
                        else
                          input.form-control.form-control-user#last_name(type='text' placeholder='Last Name' name='last_name')
                          .text-center.small#invalid_last(style="color: #d66")
                    .form-group
                      if (user == 1)
                        input.form-control.form-control-user#username(style='border: 1px solid #d66' type='text' placeholder='Username' name='username')
                        .text-center.small Can only contain letters, numbers, - , _ , or .
                        .text-center.small#invalid_user(style="color: #d66") Invalid Username
                        br
                      else
                        input.form-control.form-control-user#username(type='text' placeholder='Username' name='username')
                        .text-center.small Can only contain letters, numbers, - , _ , or .
                        .text-center.small#invalid_user(style="color: #d66")
                        br
                    .form-group
                      if (insti == 1)
                        input.form-control.form-control-user#institution(style='border: 1px solid #d66' type='text' placeholder='Debate Institution' name='institution')
                        .text-center.small Can only contain letters and spaces
                        .text-center.small#invalid_insti(style="color: #d66") Invalid Institution
                      else
                        input.form-control.form-control-user#institution(type='text' placeholder='Debate Institution' name='institution')
                        .text-center.small Can only contain letters and spaces
                        .text-center.small#invalid_insti(style="color: #d66")
                    .form-group
                      if (email == 1)
                        input.form-control.form-control-user#email(style='border: 1px solid #d66' type='email' aria-describedby='emailHelp' placeholder='Email Address' name='email')
                        .text-center.small#invalid_email(style="color: #d66") Invalid Email
                        br
                      else
                        input.form-control.form-control-user#email(type='email' aria-describedby='emailHelp' placeholder='Email Address' name='email')
                        .text-center.small#invalid_email(style="color: #d66")
                    .form-group.row
                      if (pass == 1 || pass == 2)
                        .col-sm-6.mb-3.mb-sm-0
                          input.form-control.form-control-user#password(style='border: 1px solid #d66' type='password' placeholder='Password' name='password')
                        .col-sm-6
                          input.form-control.form-control-user#confirm_pass(style='border: 1px solid #d66' type='password' placeholder='Repeat Password' name='confirm_pass')
                      else
                        .col-sm-6.mb-3.mb-sm-0
                          input.form-control.form-control-user#password(type='password' placeholder='Password' name='password')
                        .col-sm-6
                          input.form-control.form-control-user#confirm_pass(type='password' placeholder='Repeat Password' name='confirm_pass')
                    if (pass > 0)
                      if (pass == 1)
                        .text-center.small#invalid_pass(style="color: #d66") Password and Confirm Password do not match
                      else
                        .text-center.small#invalid_pass(style="color: #d66") Password should be at least 8 characters with no whitespaces
                    .text-center.small#invalid_pass(style="color: #d66")
                  button.btn.btn-primary.btn-block.text-white.btn-user#submit(type='submit') Register Account
                  hr

                .text-center
                  a.small(href='/login') Already have an account? Login!
                  br
                  a.small(href='/guestLogin') Login as a Guest!
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js')
    script(src='/assets/js/register.js')
