nav.navbar.navbar-dark.align-items-start.sidebar.sidebar-dark.accordion.bg-gradient-primary.p-0
  .container-fluid.d-flex.flex-column.p-0
    a.navbar-brand.d-flex.justify-content-center.align-items-center.sidebar-brand.m-0(href='#')
      .sidebar-brand-icon.rotate-n-15
        i.fas.fa-laugh-wink
      .sidebar-brand-text.mx-3
        span Brand
    hr.sidebar-divider.my-0
    ul#accordionSidebar.nav.navbar-nav.text-light
      li.nav-item(role='presentation')
        a.nav-link.active(href='index.html')
          i.fas.fa-tachometer-alt
          span Dashboard
    .text-center.d-none.d-md-inline
      button#sidebarToggle.btn.rounded-circle.border-0(type='button')
