extends ../layout/base.pug

block content
  h3.text-dark.mb-4 Cancel Round
  .row.mb-3
    .col-lg-8
      .row
        .col
          .card.shadow.mb-3
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold Confirm Cancel Round
            .card-body
              h4.text-dark.mb-0 #{pagedetails.cancel_details}
              br
              h6.text-dark.mb-0 Kindly click Confirm Cancel to proceed.
              br
              br
              a.card-link.btn.btn-danger(href=pagedetails.cancel_link) Confirm Cancel
              a.card-link.btn.btn-primary(href='/roundsCreated') Cancel
