extends ../layout/base.pug

block content
  .container-fluid
    .card.shadow
      .card-header.py-3
        p.text-primary.m-0.font-weight-bold Rounds Created by #{pagedetails.curr_user.full_name}
      .card-body
        #dataTable.table-responsive.table.mt-2(role='grid' aria-describedby='dataTable_info')
          table#dataTable.table.dataTable.my-0
            thead
              tr
                th Round ID
                th Motion
                th Your Role
                th
            tbody
                if (pagedetails.matches.length > 0)
                  each match in pagedetails.matches
                    tr
                      td
                        a(href='/currentInfo?roundID='+match.roundID+'&status='+match.status) #{match.roundID}
                      td #{match.motion}
                      td #{match.creatorRole}
                      td
                        a.text-center.btn.btn-danger(href='/cancelRound?roundID='+match.roundID)
                          i.fa.fa-trash-o
                  tr
                    td
                    td(style='text-align:center') You have no more pending rounds.
                    td
                    td
                  tr
                    td
                    td(style='text-align:center')
                      a.text-center.btn.btn-danger.btn-sm(href='/deleteAllPending')
                        i.fa.fa-trash-o
                        |  Delete All
                    td
                    td
                else
                  tr
                    td
                      td.text-center(colspan=10) No Rounds to show. Click on Create a Round to get started!
