doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    title Login as Guest | TabCore
    link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Adamina')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css')
    link(rel='stylesheet' href='assets/fonts/fontawesome5-overrides.min.css')
    link(rel='icon' type='image/png' href='/assets/img/logo/tabcore_icon.png')
    script(type='text/javascript' src='/assets/js/validator.min.js')
  body.bg-gradient-success(style='font-family: Oswald, sans-serif;')
    nav.navbar.navbar-light.navbar-expand-md.bg-success(style='font-family: Oswald, sans-serif;color: #4e73df')
      .container-fluid
        a.navbar-brand.d-flex.justify-content-center.align-items-center.sidebar-brand.m-0(href='/')
          .sidebar-brand-icon.rotate-n-15
            i.fas.fa-balance-scale(style='font-size: 46px;color: rgba(255,255,255,0.9);')
          .sidebar-brand-text.mx-3
            span(style='font-size: 44px;color: rgba(255,255,255,0.9);') TABCORE
        button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        .collapse.navbar-collapse.text-right.d-xl-flex.justify-content-xl-end#navcol-1(style='font-size: 25px;')
          ul.nav.navbar-nav
            li.nav-item(role='presentation')
              a.nav-link.border-white(href='/login' style='color: rgba(255,255,255,0.5);') Login
            li.nav-item(role='presentation')
              a.nav-link.border-white(href='/guestLogin' style='color: #ffffff;') Guest
            li.nav-item(role='presentation')
              a.nav-link(href='/register' style='color: rgba(255,255,255,0.5);') Register
            li.nav-item(role='presentation')
    .container
      .row.justify-content-center
        .col-md-9.col-lg-12.col-xl-10
          .card.shadow-lg.o-hidden.border-0.my-5
            .card-body.p-0
              .row
                .col-lg-6.d-none.d-lg-flex
                  .flex-grow-1.bg-login-image(style='background-image: url("assets/img/logo/TABCORE_GUEST.gif");')
                .col-lg-6
                  .p-5
                    .text-center
                      h3.text-dark.mb-4 Welcome To Tabcore!
                      h6.text-dark.mb-4 Login as a Guest using your email address and we'll see if anyone invited you for any debate rounds!
                    form.user(action="/guestLogin", method="post")
                      .form-group
                        if (invalid == 1)
                          .form-group
                            input.form-control.form-control-user#guest_email(style='border: 1px solid #d66' type='text' aria-describedby='emailHelp' placeholder='Enter Email Address...' name='email')
                            .text-center.small.text-dark Must follow the following format: abc@email.domain
                          .text-center.small#invalid_guest(style="color: #d66") Invalid Email Address.
                        else
                          .form-group
                            input.form-control.form-control-user#guest_email(type='text' aria-describedby='emailHelp' placeholder='Enter Email Address...' name='email')
                            .text-center.small.text-dark Must follow the following format: abc@email.domain
                            .text-center.small#invalid_guest(style="color: #d66")
                      button.btn.btn-primary.btn-block.text-white.btn-user#login_guest(type='submit') Login as Guest
                      hr
                    .text-center
                      a.small(href='/login') Already have an account? Login!
                      br
                      a.small(href='/register') Create an Account!
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js')
    script(src='/assets/js/guest_login.js')
