extends ../layout/base.pug

block content
  .d-sm-flex.justify-content-between.align-items-center.mb-4
    h3.text-dark.mb-0 Round Statistics
  .row
    .col-lg-6.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.text-primary.font-weight-bold.m-0 Search Criteria
        .card-body#roundtimer
          form(action="/roundroomStatistics", method="post")
            .form-group
              label(for='roundID')
                strong Enter Round ID to Find:
              input#roundID.form-control(type='text' placeholder='Enter Round ID...' name='roundID')
            .text-center.small#invalid_round(style="color: #d66")
            .form-group
              button.btn.btn-primary.btn-block#find(type='submit') Find Round

block scripts
  script(src='/assets/js/jquery.min.js')
  script(src='/assets/bootstrap/js/bootstrap.min.js')
  script(src='/assets/js/bs-init.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
  script(src='/assets/js/round_stats.js')
