.container-fluid
  .d-sm-flex.justify-content-between.align-items-center.mb-4
    h3.text-dark.mb-0 Round Cancelled!
  .row
    .col-lg-6.text-left.mb-4
      a.btn.btn-primary(href="index.html") Back to Your Dashboard
