extends layout/base.pug

block content
  h3.text-dark.mb-4 Profile Settings
  .row.mb-3
    .col-lg-4.text-center
      .card.mb-3
        .card-body.text-center.shadow
          img.rounded-circle.mb-3.mt-4(src='/assets/img/dogs/image2.jpeg' width='160' height='160')
          .mb-3
          input(type='file')
      a.text-center.btn.btn-danger(href='deleteMessage.html')
        i.fa.fa-trash-o
        |   Delete Account
    .col-lg-8
      .row.mb-3.d-none
        .col
          .card.text-white.bg-primary.shadow
            .card-body
              .row.mb-2
                .col
                  p.m-0 Peformance
                  p.m-0
                    strong 65.2%
                .col-auto
                  i.fas.fa-rocket.fa-2x
              p.text-white-50.small.m-0
                i.fas.fa-arrow-up
                |  5% since last month
        .col
          .card.text-white.bg-success.shadow
            .card-body
              .row.mb-2
                .col
                  p.m-0 Peformance
                  p.m-0
                    strong 65.2%
                .col-auto
                  i.fas.fa-rocket.fa-2x
              p.text-white-50.small.m-0
                i.fas.fa-arrow-up
                |  5% since last month
      .row
        .col
          .card.shadow.mb-3
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold User Settings
            .card-body
              form
                .form-row
                  .col
                    .form-group
                      label(for='username')
                        strong Username
                      input.form-control(type='text' placeholder='john.smith' name='username')
                  .col
                    .form-group
                      label(for='email')
                        strong Email Address
                      input.form-control(type='email' placeholder='johnsmith@example.com' name='email')
                .form-row
                  .col
                    .form-group
                      label(for='first_name')
                        strong First Name
                      input.form-control(type='text' placeholder='John' name='first_name')
                  .col
                    .form-group
                      label(for='last_name')
                        strong Last Name
                      input.form-control(type='text' placeholder='Doe' name='last_name')
                .form-group
                  button.btn.btn-primary.btn-sm(type='submit') Save Settings
          .card.shadow
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold Personal Information
            .card-body
              form
                .form-group
                  label(for='address')
                    strong School
                    br
                  input.form-control(type='text' placeholder='De La Salle University' name='address')
                .form-row
                  .col
                    .form-group
                      label(for='city')
                        strong Birthday
                      input.form-control(type='date')
                  .col
                    .form-group
                      label(for='country')
                        strong Debate Society
                      input.form-control(type='text' placeholder='La Sasalle Debate Society' name='country')
                .form-group
                  button.btn.btn-primary.btn-sm(type='submit') Save Settings
          .card.shadow(style='margin-top: 15px;')
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold Change Password
            .card-body
              form
                .form-group
                  label(for='address')
                    strong New Password
                    br
                  input.form-control(type='password')
                .form-group
                  label(for='address')
                    strong Confirm Password
                    br
                  input.form-control(type='password')
                .form-group
                  button.btn.btn-primary.btn-sm(type='submit') Save Settings
