extends layout/base


block content
  .d-sm-flex.justify-content-between.align-items-center.mb-4
    h3.text-dark.mb-0 Round ID: 640
    p Status: Finished
  h3.text-left Room: G306B
  h3.text-left Motion: This House would impose a BBC-style impartiality requirement on all news platforms.
  .row.text-left.d-xl-flex.justify-content-xl-center(style='margin-top: 34px;')
    .col-lg-6.col-xl-5.mb-4
      .card.shadow.mb-4.border-left-danger
        .card-header.py-3
          .row
            .col
              h6.text-primary.font-weight-bold.m-0 ADMU A
              span Government
            .col
              h1.text-right Total: 213
        ul.list-group.list-group-flush
          li.list-group-item(style='font-size: 18px;')
            .row.align-items-center.no-gutters
              .col-auto.col-xl-2
                img.border.rounded-circle.img-profile(src='assets/img/avatars/avatar3.jpeg')
              .col-xl-4.mr-2
                h6.mb-0
                  strong Sean Pe
                span.text-xs Prime Minister
              .col-xl-5
                h3.text-right Score: 73
          li.list-group-item(style='font-size: 18px;')
            .row.align-items-center.no-gutters
              .col-auto.col-xl-2
                img.border.rounded-circle.img-profile(src='assets/img/avatars/avatar5.jpeg')
              .col-xl-4.mr-2
                h6.mb-0
                  strong Marc Gonzalez
                span.text-xs Deputy Prime Minister
              .col-xl-5
                h3.text-right Score: 71
          li.list-group-item(style='font-size: 18px;')
            .row.align-items-center.no-gutters
              .col-auto.col-xl-2
                img.border.rounded-circle.img-profile(src='assets/img/avatars/avatar2.jpeg')
              .col-xl-4.mr-2
                h6.mb-0
                  strong Bernice Betito
                span.text-xs Government Whip
              .col-xl-5
                h3.text-right Score: 69
    .col-lg-6.col-xl-5.mb-4
      .card.shadow.mb-4.border-left-success
        .card-header.py-3
          .row
            .col
              h6.text-primary.font-weight-bold.m-0 DLSU Team B
              span Opposition
            .col
              h1.text-right Total: 234
        ul.list-group.list-group-flush
          li.list-group-item(style='font-size: 18px;')
            .row.align-items-center.no-gutters
              .col-auto.col-xl-2
                img.border.rounded-circle.img-profile(src='assets/img/avatars/avatar3.jpeg')
              .col-xl-4.mr-2
                h6.mb-0
                  strong John Smith
                span.text-xs Leader of Opposition
              .col-xl-5
                h3.text-right Score: 78
          li.list-group-item(style='font-size: 18px;')
            .row.align-items-center.no-gutters
              .col-auto.col-xl-2
                img.border.rounded-circle.img-profile(src='assets/img/avatars/avatar5.jpeg')
              .col-xl-4.mr-2
                h6.mb-0
                  strong Gonzalez Marc
                span.text-xs Deputy Leader of Opposition
              .col-xl-5
                h3.text-right Score: 76
          li.list-group-item(style='font-size: 18px;')
            .row.align-items-center.no-gutters
              .col-auto.col-xl-2
                img.border.rounded-circle.img-profile(src='assets/img/avatars/avatar2.jpeg')
              .col-xl-4.mr-2
                h6.mb-0
                  strong Betito Bernice
                span.text-xs Opposition Whip
              .col-xl-5
                h3.text-right Score: 80
  .row
    .col.text-center
      h1.text-dark Winner: DLSU B
      .form-group.d-xl-flex.flex-column.align-items-xl-center
        .card
          .card-body
            h4.card-title Comments:
            h6.text-muted.card-subtitle.mb-2 Chair: John Smith
            p.text-left.card-text Opposition was able to clinch the match for three reasons; they were able to prove that no actor or governing body would be able to appropriately enact such regulation without compromising the rule of democracy, they were able to beat government on the issue of misinformation, and finally, they're from DLSU and just better.
