extends ../layout/base.pug

block content
  h3.text-dark.mb-4 Edit a Team
  .row.mb-3
    .col-lg-8
      .row
        .col
          .card.shadow.mb-3
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold Edit a Team
            .card-body
              form.user(action="/editTeams", method="post")
                .form-row
                  .col
                    .form-group
                      label(for='teamname')
                        strong Choose a Team to Edit:
                      if (pagedetails.choosing == 1)
                        select#edit_choose.form-control(name='edit_choose' style='border: 1px solid #d66')
                          option(value='choose') Choose an option
                          if(pagedetails.teams.length > 0)
                            each team in pagedetails.teams
                              option(value=team._id) #{team.teamname}
                      else
                        select#edit_choose.form-control(name='edit_choose')
                          option(value='choose') Choose an option
                          if(pagedetails.teams.length > 0)
                            each team in pagedetails.teams
                              option(value=team.teamname) #{team.teamname}
                if (pagedetails.choosing == 1)
                  .text-center.small#invalid_editChoose(style="color: #d66") Choose one team to edit
                .text-center.small#invalid_editChoose(style="color: #d66")
                .form-row
                  .col
                    .form-group
                      button.btn.btn-primary.btn-sm#edit_next(type='submit') Next

block scripts
  script(src='/assets/js/jquery.min.js')
  script(src='/assets/bootstrap/js/bootstrap.min.js')
  script(src='/assets/js/bs-init.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
  script(src='/assets/js/edit_teams.js')
