extends ../layout/base.pug

block content
  h3.text-dark.mb-4 Delete Team
  .row.mb-3
    .col-lg-8
      .row
        .col
          .card.shadow.mb-3
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold Confirm Delete Team
            .card-body
              h4.text-dark.mb-0 You are deleting the team: #{pagedetails.team.teamname}.
              br
              h6.text-dark.mb-0 Kindly click Confirm Delete to proceed.
              br
              h6.text-dark.mb-0 The rest of the team would be informed regarding the deletion of the team.
              br
              br
              a.card-link.btn.btn-primary.btn-danger(href='/deleteTeam?team='+pagedetails.team._id) Confirm Delete
              a.card-link.btn.btn-primary(href='/teamInfo?team='+pagedetails.team._id) Cancel
