extends ../layout/base.pug

block content
  h3.text-dark.mb-4 Leave Team
  .row.mb-3
    .col-lg-8
      .row
        .col
          .card.shadow.mb-3
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold Confirm Leave Team
            .card-body
              h4.text-dark.mb-0 You are leaving the team: #{pagedetails.team.teamname}.
              br
              h6.text-dark.mb-0 Kindly click Confirm Leave to proceed.
              br
              h6.text-dark.mb-0 The rest of the team would be informed about you leaving.
              h6.text-dark.mb-0 All ongoing rounds with the team #{pagedetails.team.teamname} as participants would also be deleted.
              br
              br
              a.card-link.btn.btn-primary.btn-danger(href='/leaveTeam?team='+pagedetails.team._id) Confirm Leave
              a.card-link.btn.btn-primary(href='/teamInfo?team='+pagedetails.team._id) Cancel
