extends ../layout/base.pug

block content
  h3.text-dark.mb-4 Profile Settings
  .row.mb-3
    .col-lg-8
      .row
        .col
          .card.shadow.mb-3
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold Confirm Delete Update
            .card-body
              h5.text-dark.mb-0
                This Team Update will be deleted for all members of the team.
                br
                Kindly click Confirm to proceed deleting.
                br
                br
              a.card-link.btn.btn-primary(href='/updateDeleted?index='+pagedetails.indexDelete+'&teamname='+pagedetails.teamname) Confirm Delete
              a.card-link.btn.btn-primary(href='/teamUpdates') Cancel
