nav.navbar.navbar-light.navbar-expand.bg-white.shadow.mb-4.topbar.static-top
  .container-fluid
    button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3(type='button')
      i.fas.fa-bars
    form.form-inline.d-none.d-sm-inline-block.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
      .input-group
        input.bg-light.form-control.border-0.small(type='text', placeholder='Search for ...')
        .input-group-append
          button.btn.btn-primary.py-0(type='button')
            i.fas.fa-search
    ul.nav.navbar-nav.flex-nowrap.ml-auto
      li.nav-item.dropdown.d-sm-none.no-arrow
        a.dropdown-toggle.nav-link(data-toggle='dropdown', aria-expanded='false', href='#')
          i.fas.fa-search
        .dropdown-menu.dropdown-menu-right.p-3.animated--grow-in(role='menu', aria-labelledby='searchDropdown')
          form.form-inline.mr-auto.navbar-search.w-100
            .input-group
              input.bg-light.form-control.border-0.small(type='text', placeholder='Search for ...')
              .input-group-append
                button.btn.btn-primary.py-0(type='button')
                  i.fas.fa-search
      li.nav-item.dropdown.no-arrow.mx-1(role='presentation')
        .nav-item.dropdown.no-arrow
          a.dropdown-toggle.nav-link(data-toggle='dropdown', aria-expanded='false', href='#')
            span.badge.badge-danger.badge-counter 3+
            i.fas.fa-bell.fa-fw
          .dropdown-menu.dropdown-menu-right.dropdown-list.dropdown-menu-right.animated--grow-in(role='menu')
            h6.dropdown-header alerts center
            a.d-flex.align-items-center.dropdown-item(href='#')
              .mr-3
                .bg-primary.icon-circle
                  i.fas.fa-file-alt.text-white
              div
                span.small.text-gray-500 December 12, 2019
                p A new monthly report is ready to download!
            a.d-flex.align-items-center.dropdown-item(href='#')
              .mr-3
                .bg-success.icon-circle
                  i.fas.fa-donate.text-white
              div
                span.small.text-gray-500 December 7, 2019
                p $290.29 has been deposited into your account!
            a.d-flex.align-items-center.dropdown-item(href='#')
              .mr-3
                .bg-warning.icon-circle
                  i.fas.fa-exclamation-triangle.text-white
              div
                span.small.text-gray-500 December 2, 2019
                p Spending Alert: We've noticed unusually high spending for your account.
            a.text-center.dropdown-item.small.text-gray-500(href='#') Show All Alerts
      li.nav-item.dropdown.no-arrow.mx-1(role='presentation')
        .nav-item.dropdown.no-arrow
          a.dropdown-toggle.nav-link(data-toggle='dropdown', aria-expanded='false', href='#')
            i.fas.fa-envelope.fa-fw
            span.badge.badge-danger.badge-counter 7
          .dropdown-menu.dropdown-menu-right.dropdown-list.dropdown-menu-right.animated--grow-in(role='menu')
            h6.dropdown-header alerts center
            a.d-flex.align-items-center.dropdown-item(href='#')
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/assets/img/avatars/avatar4.jpeg')
                .bg-success.status-indicator
              .font-weight-bold
                .text-truncate
                  span Hi there! I am wondering if you can help me with a problem I've been having.
                p.small.text-gray-500.mb-0 Emily Fowler - 58m
            a.d-flex.align-items-center.dropdown-item(href='#')
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/assets/img/avatars/avatar2.jpeg')
                .status-indicator
              .font-weight-bold
                .text-truncate
                  span I have the photos that you ordered last month!
                p.small.text-gray-500.mb-0 Jae Chun - 1d
            a.d-flex.align-items-center.dropdown-item(href='#')
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/assets/img/avatars/avatar3.jpeg')
                .bg-warning.status-indicator
              .font-weight-bold
                .text-truncate
                  span
                    | Last month's report looks great, I am very happy with the progress so far, keep up the good work!
                p.small.text-gray-500.mb-0 Morgan Alvarez - 2d
            a.d-flex.align-items-center.dropdown-item(href='#')
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/assets/img/avatars/avatar5.jpeg')
                .bg-success.status-indicator
              .font-weight-bold
                .text-truncate
                  span
                    | Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...
                p.small.text-gray-500.mb-0 Chicken the Dog · 2w
            a.text-center.dropdown-item.small.text-gray-500(href='#') Show All Alerts
        .shadow.dropdown-list.dropdown-menu.dropdown-menu-right(aria-labelledby='alertsDropdown')
      .d-none.d-sm-block.topbar-divider
      li.nav-item.dropdown.no-arrow(role='presentation')
        .nav-item.dropdown.no-arrow
          a.dropdown-toggle.nav-link(data-toggle='dropdown', aria-expanded='false', href='#')
            span.d-none.d-lg-inline.mr-2.text-gray-600.small 
            img.border.rounded-circle.img-profile(src='/assets/img/avatars/avatar1.jpeg')
          .dropdown-menu.shadow.dropdown-menu-right.animated--grow-in(role='menu')
            a.dropdown-item(role='presentation', href='#')
              i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
              |  Profile
            a.dropdown-item(role='presentation', href='#')
              i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
              |  Settings
            a.dropdown-item(role='presentation', href='#')
              i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
              |  Activity log
            .dropdown-divider
            a.dropdown-item(role='presentation', href='#')
              i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
              |  Logout
