html
  head
    title= title
    style
      block stylesheets

  body
    h1= message

    block content

    block cdns
      script(src="https://code.jquery.com/jquery-3.4.1.min.js")

    script
      block scripts
